.pageContainer{

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;

  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
}
.formContainer {
  width: 50%;
  height: 100%;
 
  border-left: 5px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logoContainer{
  width: 50%;
  height: 75%;
  border: 5px solid black;
  border-radius: 50%;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  font-size: 0.8rem;
  color: #bb0000;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginFormItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
