.container-alert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 35px;
    background-color: gainsboro;
}


@media screen and (max-width: 960px) {
    .container-alert{
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
        margin-top: 25px;
    }
}
