.container-progress{
    display: flex;
    align-content: center;
    justify-content: center;
}

.filler-styles{
    height: 100%;
    
    background-color: cornflowerblue;
    border-radius: inherit;
    text-align: right;
    transition: width 1s ease-in-out;
}

.label-styles{
    padding: 5;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .container-progress{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}